#welcome-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
#profile {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
